:root{
    --lightColor:#B0C4DE;
    --darkColor:#6F00FF;
    user-select: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1615051179134-62696ea77ef9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1776&q=80);
    background-size: cover;

}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2rem;
    text-align: center;
    color: black;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width:100px;
    height:80px;
    background: var(--lightColor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.3);
}

.clock .text{
height: 30px;
font-size: 10px;
letter-spacing: 2px;
text-transform: uppercase;
color:white;
background:var(--darkColor);
opacity: 0.8;
}

.clock #ampm{
    bottom:0;
    position: absolute;
    width:60px;
    color:white;
    height: 30px;
    font-size: 20px;
    background:#662d91;
}

